HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.jpb

### VS Code ###
.vscode/

### TerraForm ###
tf/azure/aci/stage_0_registry/IMPORT.md
tf/azure/aci/stage_0_registry/.terraform/
tf/azure/aci/stage_0_registry/.terraform.lock.hcl
tf/azure/aci/stage_1_db/.terraform/
tf/azure/aci/stage_1_db/.terraform.lock.hcl

### trash
unused/
