# Lombok reads certain annotations like @Data and @Builder and generates boilerplate methods based on them.
# This means that the generated code will show up in JaCoCo’s coverage reports and will be evaluated in the
# rules we defined.
 #
# Luckily, JaCoCo honors Lombok’s @Generated annotation by ignoring methods annotated with it. We simply have
# to tell Lombok to add this annotation
#
# Source: https://reflectoring.io/jacoco/
#
lombok.addLombokGeneratedAnnotation = true
