# env files content description to commit to repo instead of files with secrets

SPRING_PROFILES_ACTIVE= #put value here according to var name

POSTGRES_DB= #put value here according to var name
POSTGRES_USER= #put value here according to var name
POSTGRES_PASSWORD= #put value here according to var name

PGADMIN_DEFAULT_EMAIL= #put value here according to var name
PGADMIN_DEFAULT_PASSWORD= #put value here according to var name

KEYCLOAK_USER= #put value here according to var name
KEYCLOAK_PASSWORD= #put value here according to var name
KEYCLOAK_IMPORT= #put value here according to var name
KEYCLOAK_DB_VENDOR= #put value here according to var name
KEYCLOAK_DB_ADDR= #put value here according to var name
KEYCLOAK_DB_DATABASE= #put value here according to var name
KEYCLOAK_DB_USER= #put value here according to var name
KEYCLOAK_DB_PASSWORD= #put value here according to var name
